<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  Proxy 172.20.31.31
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <connectionStrings>
    </connectionStrings>
    <appSettings>
        <add key = "Arrive" value="http://*" />
        <add key = "Departure" value="http://*" />
        <add key = "usr" value="*" />
        <add key = "pwd" value="*" />
        <add key = "refresh" value="90" />
        <add key = "history" value ="24" />
        <add key = "proxyserver" value="" />
        <add key = "proxport" value="" />

        <add key = "adminuser" value="*" />
        <add key = "adminpwd" value="*"/>
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0"/>
        <customErrors mode="Off" />
        <authentication mode="None" >
        </authentication>
        <pages theme="Default">
        </pages>
    </system.web>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
